/* Stylesheet used for Portfolio assignment */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


  * {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: linen;
    background-color: #242524;
  }

  header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1 {
    padding: 80px;
    text-align: center;
    text-shadow: 3px 3px darkgoldenrod;
    font-size: 5rem;
    font-weight: bolder;
    font-variant: all-small-caps;
    border-style: double;
    border-radius: 1rem;
    border-width: 10px;
    border-color: linen;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    list-style: none;
  }

  .nav-links li {
    display: inline-block;
  }

  .nav-links li a {
    transition: all 0.5s ease 0s;
  }

  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: linen;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 25px;
    background-color: indigo;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }

  button:hover {
    background-color: goldenrod;
  }

  h2 {
    padding: 0px 50px;
  }
  .lessons {
    list-style: none;
    padding: 10px 50px;
  }

  .lessons li {
    padding: 50px 25px;
    margin: 10px 0px;
  }

  .lessons li a {
    color: goldenrod;
  }

  .lessons li a:hover {
    color: orchid;
    cursor: pointer;
  }

  .lessons img {
    float: left;
    padding: 25px 50px;
  }

  .lessons li p {
    margin: auto;
    padding: 35px;
    text-align: justify;
  }

  .code-alongs a, h3, p {
    padding: 10px 50px;
    text-align: justify;
  }

  .code-alongs h3 {
    color: goldenrod;
  }

  .code-alongs h3:hover {
    color: orchid;
  }
