/* Stylesheet used for Portfolio assignment */

  * {
    font-family: "Montserrat", sans-serif;
    color: #AAA0A0;
    margin: 0;
  }

  header {
    width: 100%;
    height: auto;
    background-image: url(https://p0.pxfuel.com/preview/665/79/769/abstract-nature-abstract-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    padding: 5rem;
    font-size: 5rem;
    color: #EDEAE5;
    text-align: center;
  }

  nav {
    width: 100%;
    height: auto;
    background-color: black;
    padding: 1rem 0rem;
    position: relative;
  }

  .nav-links li {
    display: inline-block;
    font-weight: 700;
  }

  .nav-links li a {
    color: #EDEAE5;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0rem 2rem;
    transition: all 0.5s ease 0s;
  }

  .nav-links li a:hover {
    color: #FCE181;
  }

  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #222629;
  }

  .content-left {
    position: relative;
    float: left;
    width: 60%;
    height: auto;
    padding: 1rem 0rem 1rem 3.5rem;
  }

  .content-left h2 {
    text-decoration: underline;
    padding: 1rem;
    color: #EDEAE5;
  }

  div {
    display: flex;
    padding: 1rem 0rem;
  }

  .lessons {
    list-style: none;
    padding: 0rem 0rem 2rem 1rem;
  }

  .lessons h3 {
    color: #AAA0A0;
  }

  .lessons li {
    font-size: 16px;
    padding: 1rem;
    transition: all 500ms ease-in-out;
  }

  .lessons li:hover {
    border: 1px solid #EDEAE5;
    border-radius: 2rem;
  }

  .lessons p {
    line-height: 1.5rem;
  }

  .lessons li a {
    color: #12C998;
    padding: 50px 0px 0px;
    text-decoration: none;
    transition: font-size 1s;
  }

  .lessons li a:hover {
    color: #EDEAE5;
    cursor: pointer;
    font-size: 22px;
  }

  .lessons img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* padding: 25px 50px; */
    display: flex;
    justify-content: flex-start;
    object-fit: cover;
    object-position: left;
  }

  .lessons li p {
    margin: auto;
    padding: 0rem 2rem;
    text-align: left;
  }

  .content-right {
    position: relative;
    top: 2rem;
    right: 3.5rem;
    float: right;
    width: 25%;
    height: auto;
    border: solid;

  }

  .content-right a {
    color: #FCE181;
    font-size: 18px;
    text-decoration: none;

  }

  .content-right h3 {
    padding: 0rem 0rem 1rem 0rem;
    text-align: center;
  }

  .content-right p {
    text-align: left;
    font-size: 16px;
    line-height: 1.5rem;
  }

  .code-alongs {
    padding: 1rem;
  }

  .code-alongs a:hover {
    color: #EDEAE5;
  }

  footer {
    width: auto;
    height: auto;
    position: relative;
    display: block;
    padding: 1rem 1rem 5rem;
    text-align: center;
    background: #222629;
    border: 1rem double #AAA0A0;
  }

  footer p {
    color: #AAA0A0;
    position: relative;
    top: 4rem;
  }

  footer a {
    color: #AAA0A0;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    bottom: 4rem;
  }

  footer a:hover {
    color: #EDEAE5;
  }

  .copyright {
    color: #AAA0A0;
    font-size: 12px;
  }

/* End of styling for index.html. Start of styling for about-me.html */

  .about-me {
    padding: 3rem 4.5rem 4.5rem 4.5rem;
  }

  .about-me h2, h3 {
    padding: 1rem 0rem;
    color: #EDEAE5;
  }

  .greeting {
    display: block;
    line-height: 1.5rem;
  }

  .greeting p {
    padding: 2rem;
    transition: all 1s ease-in-out;
  }

  .greeting p:hover {
    background-color: black;
    border: 1px solid #AAA0A0;
    border-radius: 2rem;
  }

  .favorites, aside {
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
  }

  .favorites {
    margin-left: 0rem;
    width: 150%;
    padding: 0rem;
    list-style-type: none;
  }

  .favorites h3 {
    display: block;
  }

  .favorites li {
    font-size: 16px;
    padding: 5px;
  }

  .favorites li a {
    color: #12C998;
    text-decoration: none;
    font-weight: bold;
  }

  .favorites li a:hover {
    color: #EDEAE5;
  }

  aside {
    width: 50%;
    height: auto;
    position: relative;
    right: -4rem;
    border: 5px dotted;
    border-color: #EDEAE5;
    padding: 1rem;
    margin: -3.5rem 5.5rem 0rem 0rem;
    transition: all 1000ms;
  }

  aside:hover {
    border: 10px dotted #12C998;
    border-radius: 45%;
  }

  aside p {
    text-align: center;
    font-size: 1.5rem;
  }

  aside a {
    color: #FCE181;
    text-decoration: none;
    font-weight: bolder;
  }

  aside a:hover {
    color: #EDEAE5;
  }

  address {
    line-height: 0rem;
    position: relative;
    top: 2rem;
  }
  address p {
    padding: 1rem;
    position: relative;
    top: 1rem;
  }

  address a {
    position: relative;
    top: 0rem;
  }

  .contact {
    text-decoration: underline;
  }
