/* Stylesheet used for Portfolio assignment */

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 5rem;
  font-weight: bolder;
  font-variant: all-small-caps;
}

#banner {
  border-radius: 3rem;
  border: 3px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
